# Ignore virtual environment folder
venv/
.venv/

# Ignore Mac system files
.DS_Store

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore environment files (if you use them for storing API keys)
.env